jobs:
  include:
    - stage: php
      php: 7.2
      script:
        - cp .env.example .env
        - composer install
        - php artisan key:generate
      cache:
        directories:
          - "$HOME/.composer/cache"

    - stage: node_js
      node_js: 12.13
      script:
        - npm ci
        - npm run build
      cache:
        directories:
          - "$HOME/.npm"

    - stage: deploy
      script:
        - openssl aes-256-cbc -K $encrypted_03302a942c69_key -iv $encrypted_03302a942c69_iv -in TravisCIDeployKey.enc -out TravisCIDeployKey -d
        - scp -y -i TravisCIDeployKey -r ./ root@katie.finervision.com:~/.travis-builds/$TRAVIS_BUILD_ID

stages:
  - php
  - node_js
  - deploy

notifications:
  email: false
